In [46]:
import pandas as pd
cmp = pd.read_csv("D:/Computer Sciences/Data Science/carprice.csv")
cmp

                Car_Model  Mileage  Sell_Price  Age
0                  BMW_X5    69000       18000    6
1                  BMW_X5    35000       34000    3
2                  BMW_X5    57000       26100    5
3                  BMW_X5    22500       40000    2
4                  BMW_X5    46000       31500    4
5                 Audi_A5    59000       29400    5
6                 Audi_A5    52000       32000    5
7                 Audi_A5    72000       19300    6
8                 Audi_A5    91000       12000    8
9   Mercedez_Benz_C_class    67000       22000    6
10  Mercedez_Benz_C_class    83000       20000    7
11  Mercedez_Benz_C_class    79000       21000    7
12  Mercedez_Benz_C_class    59000       33000    5

In [47]:
from sklearn.preprocessing import LabelEncoder

In [48]:
lab = LabelEncoder()

In [49]:
cmp.Car_Model=lab.fit_transform(cmp.Car_Model)

In [50]:
cmp

    Car_Model  Mileage  Sell_Price  Age
0           1    69000       18000    6
1           1    35000       34000    3
2           1    57000       26100    5
3           1    22500       40000    2
4           1    46000       31500    4
5           0    59000       29400    5
6           0    52000       32000    5
7           0    72000       19300    6
8           0    91000       12000    8
9           2    67000       22000    6
10          2    83000       20000    7
11          2    79000       21000    7
12          2    59000       33000    5

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
cp = cmp.Sell_Price

cmp=cmp.drop(cmp[['Sell_Price']],axis='columns')

In [53]:
cp

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Sell_Price, dtype: int64

In [54]:
c=cmp.drop(cmp[''])

    Car_Model  Mileage  Age
0           1    69000    6
1           1    35000    3
2           1    57000    5
3           1    22500    2
4           1    46000    4
5           0    59000    5
6           0    52000    5
7           0    72000    6
8           0    91000    8
9           2    67000    6
10          2    83000    7
11          2    79000    7
12          2    59000    5

In [92]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[0])

TypeError: __init__() got an unexpected keyword argument 'categorical_features'

In [77]:
X_train,X_test,y_train,y_test = train_test_split(cmp,cp)

In [91]:
o = ohe.fit_transform(cmp).toarray()
o

TypeError: object of type 'int' has no len()

In [79]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [82]:
mod= LinearRegression()

model.score(X_train,y_train)

In [22]:
model.score(X_train,y_train)

0.8942497997331323

In [17]:
model.score(cmp,cp)

0.6061881226825523

In [30]:
model.predict([[2,45000,4]])

array([32496.60386136])

In [80]:
o = o[:,1:]
o

array([[0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1.,
        0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
        1.],
       [1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 1., 0.,
        0.],
       [1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1.,
        0.],
       [1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
        0.]])

In [83]:
mod.fit(o,y_train)

LinearRegression()

In [88]:
mod.predict([[45000,0,0,1]])

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 17 is different from 4)